body {
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;

  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(34, 34, 34);
}

@font-face {
  font-family: "OCRA";
  src: url("../res/font/OCRA.TTF") format("opentype");
}

@font-face {
  font-family: "OCRAq";
  src: url("../res/font/OCRAq.TTF") format("opentype");
}

.topnav {
  position: fixed;
  background-color: #252525d2;
  width: 100%;
}

.topname {
  font-family: "OCRA";
  font-weight: normal;
  font-style: normal;
  color: #fff;
  padding: 13px 4%;
  float: left;
  font-size: 35px;
}

.topicon {
  float: right;
  padding: 14px 2%;
  transform: scale(0.6);
  height: 0px;
}

.section1 {
  padding: 7em 0em 7em 0em;
  height: calc(100vh - 14em);
  width: auto;
  background-image: url("../res/img/pro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 70%;
  color: rgb(255, 255, 255);
}

.button {
  padding: 10% 25%;
}

.section1 h {
  padding: 2% 0% 0% 0%;
  float: left;
  font-size: 30px;
  font-weight: 700;
  margin-left: 25%;
}
.section1 p {
  padding: 2% 0% 0% 0%;
  margin-left: 25%;
  font-size: 14px;
}

.button a {
  background-color: rgba(0, 0, 0, 0.137);
  border: 2px solid rgba(255, 255, 255, 0.37);
  border-radius: 10%;

  padding: 9.3px;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 120%;
  font-weight: 700;
}

.section2 {
  background-color: rgb(34, 34, 34);
  padding: 7em;
  height: calc(100vh - 14em);
}

.line {
  border-top: 2px solid rgba(82, 82, 82, 0.7);
}

.soc a {
  font-size: 3em;
  padding: 1.3%;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 5px;
  margin-left: 5px;
}

.section3 {
  background-color: #252525d2;
  color: rgba(209, 209, 209, 0.4);
  clear: both;
  height: 135px;
  width: 100%;
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-family: arial;
  font-size: 10.5px;
}

.cop {
  color: rgba(209, 209, 209, 0.4);
}
