body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(17, 17, 17, 0.98);
}

.topnav {
  position: fixed;
  background-color: rgba(51, 51, 51, 0.404);
  width: 100%;
  transition: top 0.3s; 
}


.navbut a {
  float: right;
  text-align: center;
  text-decoration: none;
  background-color: rgba(56, 56, 56, 0.5);
  color: #fff;
  
  margin-top: 16px;
  padding: 5px;

  width: 8%;

  border: 1px solid rgba(255, 255, 255, 0.05);

  margin-right: 20px;
  font-size: 14px;

  transition: 250ms;
  border-radius: 15px;
}

.navbut a:hover {
  background-color:rgba(255, 255, 255, 0.8);
  color: black;
  transition: 250ms;
}

.navbut a.active {

  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.navbut a.active:hover{

  background-color:rgba(255, 255, 255, 0.8);
  color: black;
}

.icon {
  float: right;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.322);
  color: #fff;
  margin-top: 13px;
  padding: 14px;
  width: 3%;
  margin-right: 20px;
  font-size: 17px;
  border-radius: 15px;
display: none;
}

@media screen and (max-width: 600px) {
  .navbut {display: none;}
  .active{display: none;}
  .op:not(:first-child){  
    display:block;
    float: right;
    
    align-items: center;
    padding: 0px 25px;
    padding-top: 1%
  }

  .nogo:first-child{
    padding: center;
    padding-left: 4%;
    font-size: 150%; 
    line-height: 140%; 
  }
  .nogo:hover:first-child{
    padding: center;
    padding-left: 4%;
    font-size: 150%; 
    line-height: 140%; 
  }
}

.op{
display: none;
float: right;
height: 48px;
color:rgba(255, 255, 255, 0.25);
}

.op:hover{
  animation: shake 0.7s;
  animation-delay: 250ms;
}

.op:focus {
    animation: rot 1s;
  }

@keyframes rot{
  0%{transform: rotate(0deg);}
100%{transform: rotate(360deg);}
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(0,-1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0,2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0,-3px, 0);
  }

  40%, 60% {
    transform: translate3d(0,3px, 0);
  }
}

/* Main Name Animation & Position*/

.nogo{
  padding: 10px 20px;
  float: left;

  font-family: OCR A; 
  text-decoration: none;
  color: #fffdfd;  
  font-size: 31px; 
  line-height: 40px; 
  border-radius: 10px;
  transition: 250ms ease-in-out;
}

.nogo:hover {
  padding: 10px 20px;
  float: left;

  font-family: OCR A; 
  text-decoration: none;
  color: #fffdfd8f;  
  font-size: 31.5px; 
  line-height: 40px; 
  border-radius: 10px;

  animation: lotit 250ms;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  transition: top 0.3s; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.98);
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  text-align:center;
}

.si{

  margin-top: 3%;
margin-left: 31%;
  width: 40%;
  
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sia{

    margin-left: 31%;
  width: 40%;

  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;

  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.144);
}

.sidenav a:hover{
  color: #dbdbdb;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.055);

}

.closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
  padding: 5px 14px 4px 14px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.closebtn:hover{
  background-color: rgba(255, 255, 255, 0);
  color: #e0dede;
  font-size: 22px;
}

@media screen and (max-height: 100%) {
  .sidenav {padding-top: 80px;}
  .sidenav a {font-size: 18px;}
}
