* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*scroll-snap-type: y mandatory;*/
  scroll-behavior: smooth;
}

body {
  overflow: hidden;

  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  background-color: black;
  height: 100%;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  font-family: "OCRA";
  src: url("../font/OCRA.TTF") format("opentype");
}

@font-face {
  font-family: "OCRAq";
  src: url("../font/OCRAq.TTF") format("opentype");
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg {
  background: url("../images/YYGLjYi-doodle-wallpapers.jpg");
  background-size: cover center;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  filter: grayscale(90%);
  filter: brightness(150%);
  opacity: 14%;
}

.start {
  position: absolute;
  width: 88px;
  height: 41px;
  left: calc(50% - 88px / 2);
  top: calc(50% - 41px / 2);

  border: 1px solid #ffffff;

  backdrop-filter: blur(10px);

  border-radius: 10px;

  font-family: "OCRAq";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 19px;

  text-align: center;
  padding: 10px 0;
  top: 70%;
  transition: 0.2s;
  background-color: #ffffff00;
  animation: glo 5s infinite ease;
}

@keyframes glo {
  0% {
    border: 1px solid #ffffff;
  }
  50% {
    border: 1px solid rgba(255, 255, 255, 0);
  }
  100% {
    border: 1px solid #ffffff;
  }
}

.start:hover a {
  color: #000000;
}
.start:hover {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  position: absolute;
  right: 0;
  float: right;
  height: 35px;
  width: 35px;
  align-items: center;
  border: 0px solid white;
  margin-right: 1.9em;
  margin-top: 1.6em;
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
}

section {
  /*background: linear-gradient(
    170deg,
    #000000 10%,
    #000000 44%,
    rgba(0, 0, 0, 0.9) 50%,
    rgba(0, 0, 0, 0.8) 65%,
    rgba(0, 0, 0, 0.6) 80%,
    rgba(0, 0, 0, 05) 100%
  );
  
  
  scroll-snap-stop: always;

  scroll-snap-align: start;
  */

  min-height: 460px;
}

section:nth-child(1) {
}
#sec1 {
  position: relative;
  height: 100vh;
  min-height: 460px;
  background: linear-gradient(
    170deg,
    #000000 0%,
    #000000ec 70%,
    #000000ab 830%,
    rgba(0, 0, 0, 0) 100%
  );
  opacity: 1;
}

@keyframes ba {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#sec2 {
  position: relative;
  height: fit-content;

  /*background: linear-gradient(
    170deg,
    #000000 0%,
    #000000e8 20%,
    #000000d3 34%,
    rgba(0, 0, 0, 0.651) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  */
}

#sec3 {
  position: relative;
  height: fit-content;
  background: linear-gradient(
    170deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 20%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0) 100%
  );

  /*background: linear-gradient(
    170deg,
    #000000 0%,
    #000000e8 20%,
    #000000d3 34%,
    rgba(0, 0, 0, 0.651) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  */
}
/*
section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    transparent 50%,
    rgba(236, 236, 236, 0.055) 100%
  );

  z-index: -1;
}
*/
.title_sec {
  height: 30vh;
  max-height: 200px;

  position: relative;
  margin: 0 auto;
  border: 0px solid white;
  width: 100%;

  text-align: center;
}

.titl {
  /* identical to box height, or 0px 
  border: 13px solid #ffffff;*/

  position: relative;
  top: 44%;
  letter-spacing: -0.045em;
  font-family: "OCRAq";
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  color: #ffffff;
  text-shadow: 1px 1px 7px rgb(0, 0, 0);
}

.content-text {
  position: relative;
  border: 0px solid white;
  color: #ffffff;
  width: 95%;
  height: fit-content;
  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: 2%;
  font-size: 12px;
  line-height: 170%;

  margin-left: auto;
  margin-right: auto;
  /* or 1px */
  letter-spacing: 0.24em;
  text-indent: 6px;

  max-width: 960px;
  text-align: center;
}

.music-vid {
  position: relative;
  width: 100%;
  height: fit-content;
  border: 0px solid white;
  display: block;
  padding-top: 40px;
  padding-bottom: 0px;
}
.music-vid iframe {
  position: relative;
  border: none;
  padding: 0px 28px 0px 28px;
}

.vid-con {
  position: relative;
  border: 0px solid white;
  width: fit-content;
  margin: 0 auto;
}

.title_min {
  height: fit-content;

  position: relative;
  margin: 0 auto;
  border: 0px solid white;
  width: 100%;

  text-align: center;
  padding-top: 55px;
}

.titl-min {
  /* identical to box height, or 0px 
  border: 13px solid #ffffff;*/

  position: relative;
  top: 50%;
  letter-spacing: -0.045em;
  font-family: "OCRAq";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #ffffff;
  text-shadow: 1px 1px 7px rgb(0, 0, 0);
  border: 0px solid white;
}

.mus {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  -ms-flex-align: center;
  width: 30%;
  border: 0px solid white;
}

.music-con {
  width: 190px;
  height: 60px;
  background: rgba(0, 0, 0, 0.03);
  border: 1px solid #ffffff;

  backdrop-filter: blur(3px);
  border-radius: 10px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  margin-top: 20px;
  margin-bottom: 30px;
  transition: 0.1s ease-in;
}

.music-but {
  border: 0px solid #ffffff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0px 20px 0px 20px;
}

.music-con:hover {
  background-color: #ffffff33;
  backdrop-filter: blur(10px);
  border: 2px solid #ffffff31;
}

.music-tex {
  color: #ffffff;
  font-family: "OCRAq";
  font-style: normal;
  font-weight: 2%;
  font-size: 18px;
  position: relative;
  padding-left: 5px;
}

.music-img {
  position: relative;
  background-position: center;
}

.chal {
  border: 0px solid white;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 100%;
}

.cha-but {
  margin: 20px;
  min-width: 300px;
  padding: 10px 28px 10px 28px;
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  transition: 0.1s ease-in;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
.cha-but:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.cha-but:hover + .cha-img {
  padding: 100px;
}
.cha-con {
}

.cha-img {
  float: left;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 1px solid rgb(255, 255, 255);
}
.cha-tex {
  color: #ffffff;
  font-family: "OCRAq";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  float: right;
  margin-left: 30px;
  height: 100%;
  margin-top: 9px;
  text-align: center;
  min-width: 150px;
  border: 0px solid rgb(255, 255, 255);
}

.chana {
  animation: roll2 10s infinite ease-in-out;
}

.chana1 {
  animation: roll 10s infinite ease-in-out;
}
@keyframes roll {
  0% {
    font-size: 0px;
  }
  20% {
    font-size: 0px;
  }
  22% {
    font-size: 15px;
  }
  98% {
    font-size: 15px;
  }
  100% {
    font-size: 0px;
  }
}
@keyframes roll2 {
  0% {
    font-size: 15px;
  }
  20% {
    font-size: 15px;
  }
  22% {
    font-size: 0px;
  }
  98% {
    font-size: 0px;
  }
  100% {
    font-size: 15px;
  }
}

.cha-tex2 {
  color: #ffffff;
  margin-top: 12px;
  font-weight: 200;
  font-size: 10px;
  text-align: center;
  width: fit-content;

  padding: 5px 14px 5px 14px;
  border-radius: 7px;
  border: 0px solid rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 0, 0, 0.4);
  margin-left: auto;
  margin-right: auto;
  transition: 0.1s ease-in;
}
.cha-tex2:hover {
  background-color: rgb(255, 0, 0);
}
.sub-con {
  border: 0px solid rgb(255, 255, 255);
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 100px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.cframe {
  width: 560px;
  height: 315px;
  border: 0px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin-left: 60px;
  margin-right: 60px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 28%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  font-family: "OCRAq";
  top: -38px;
  width: 100%;
  text-align: center;
}
.textcu {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: -85px;
  width: 100%;
  text-align: center;

  visibility: hidden;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  visibility: hidden;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  border: 1px solid rgb(255, 255, 255);

  background-color: #ffffff00;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  visibility: visible;
}

.active,
.dot:hover {
  border: 2px solid rgb(255, 255, 255);
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.cha-desc {
  display: none;
}

.cha-descr {
  display: none;
}

@media only screen and (max-width: 768px) {
  /*768*/

  .chal {
    margin-top: 42px;

    border: 0px solid white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }
  .cha {
  }
  .cha-but {
    min-width: 0px;
    max-width: 200px;
    max-height: 120px;
    border-radius: 14px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    transition: 0.3s ease-in;

    border: 0px solid rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .vline {
    height: 27%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    margin-bottom: 12%;
    visibility: hidden;
  }
  .cha-but:hover {
    background-color: rgba(155, 39, 39, 0);
    border: 0px solid rgba(255, 255, 255, 0);
  }
  .cha-but:hover + .cha-img {
    padding: 100px;
  }
  .conim {
    width: 100%;
  }
  .cha-img {
    float: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 77px;
    width: 77px;
    margin-top: -20%;
    border: 1px solid rgb(255, 255, 255);
  }
  .cha-tex {
    color: #ffffff;
    font-family: "OCRAq";
    font-style: normal;
    font-weight: 200;
    font-size: 15px;

    margin-left: 0px;
    max-height: 43px;
    height: 100%;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    border-bottom: 7px solid rgba(255, 255, 255, 0);
    border-radius: 4px;
    border-style: groove;
    visibility: visible;
    transition: 0.2s ease-in-out;

    float: none;
    min-width: max-content;
    max-width: 150px;
    border: 5px solid rgba(255, 255, 255, 0);
  }
  .cha-desc {
    opacity: 0;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-family: "OCRAq";
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    border: 0px solid white;
    width: 100%;
    max-width: 560px;
    padding: 30px;
    bottom: 0px;
    transition: 0.4s ease;
    visibility: visible;
    display: block;
  }
  .cha-descr {
    opacity: 1;
    width: 100%;
    color: #ffffff00;
    font-family: "OCRAq";
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    border: 0px solid white;
    width: 100%;
    padding: 30px;
    padding-top: 7px;
    visibility: visible;
    display: none;
  }
  .chde {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;

    visibility: visible;
  }
  .cha-but:hover + .cha-desc {
    opacity: 1;
  }
  .cha-but:hover .cha-tex {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
  }
  .cha22 {
    visibility: visible;
  }
  .cha11 {
    visibility: visible;
  }
  .chana {
    animation: roll2 0s infinite ease-in-out;

    visibility: hidden;
  }

  .chana1 {
    animation: roll 0s infinite ease-in-out;
  }
  .cha-tex2 {
    color: #ffffff;
    margin-top: 13px;
    font-weight: 200;
    font-size: 10px;
    text-align: center;
    width: fit-content;

    padding: 5px 14px 5px 14px;
    border-radius: 7px;
    border: 0px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.4);
    margin-left: auto;
    margin-right: auto;
    transition: 0.1s ease-in;
  }
  .cha-tex2:hover {
    background-color: rgb(255, 0, 0);
  }
  .sub-con {
    border: 0px solid rgb(255, 255, 255);
    visibility: hidden;
  }

  .music-img {
    width: 40px;
    height: 40px;
  }
  .music-con {
    width: 150px;
    height: 52px;
    background: rgba(0, 0, 0, 0.03);
    border: 1px solid #ffffff;

    backdrop-filter: blur(3px);
    border-radius: 9px;

    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: 0.1s ease-in;
  }
  #longnameshit {
    display: none;
  }

  .music-tex {
    color: #ffffff;
    font-family: "OCRAq";
    font-style: normal;
    font-weight: 2%;
    font-size: 15px;
    position: relative;
    padding-left: 7px;
  }
  .vid-con {
    width: 100%;
    border: 0px solid rgb(0, 255, 242);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .music-vid iframe {
    padding: 0px 28px 0px 28px;
    padding-top: 35px;

    max-width: fit-content;
    width: 100%;
    border: 0px solid rgb(255, 0, 0);
  }
  .music-vid {
    width: 100%;
    border: 0px solid rgb(208, 255, 0);
  }

  /* .vid-con {
    width: 100%;
  }
  .music-vid iframe {
    padding: 0px 28px 0px 28px;
    padding-top: 35px;
    width: 100%;
  } */
  .mus {
    display: block;
    width: 100%;
    border: 0px solid white;
  }
  .music-but {
    padding: 0px 0px 0px 0px;
  }
  .cha {
    flex-direction: column;
  }
  .cha-but {
    margin-top: 20px;
  }
  .cframe {
    max-width: 300px;
    width: 100%;
    height: 170px;

    /* padding: 0px 28px 0px 28px; */
    border-radius: 7px;
    border: 0px solid rgba(255, 255, 255, 0.8);
  }
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0px 2px;
    border: 1px solid white;

    background-color: #71717100;
    border-radius: 50%;
    display: inline-block;
  }
  .active,
  .dot:hover {
    background-color: #ffffff;
    border: 0px solid white;
  }
  .prev,
  .next {
    margin-left: 10%;
    margin-right: 10%;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(204, 204, 204, 0);
    border-radius: 0%;
  }
}
.test {
  background: linear-gradient(
    170deg,
    #000000 0%,
    #000000 30%,
    #000000d5 50%,
    rgb(0, 0, 0) 100%
  );
}
#secl {
  position: relative;
  height: max-content;
  min-height: 100vh;
  transition: 0.7s ease-in-out;
  background: linear-gradient(
    170deg,
    #000000 0%,
    #000000 30%,
    #000000 50%,
    #000000d3 70%,
    rgb(0, 0, 0) 100%
  );

  backdrop-filter: blur(0px);
}

.profile-con {
  border: 0px solid white;
  margin: 20px;
  margin-top: 30px;
}
.prof-img {
  height: 100px;
  width: 100px;
  transition: 0.2s ease-in-out;
  transition-delay: 3s;
  border-radius: 50%;
  margin-top: 60px;
}
.prof-name {
  color: #ffffff;
  font-family: "OCRAq";
  transition: 0.3s;
  font-size: 12px;

  border: 0px solid white;
  text-align: center;
  max-width: 540px; /* 720*/
  font-weight: 100;
  text-indent: 1px;

  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px;
}
.inbtw {
  font-family: "OCRAq";
  border: 0px solid white;
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
#inbtwId {
  height: 0px;
}
#ncontact {
  margin-left: auto;
  margin-right: auto;
  color: #f2f2f2;
  font-weight: 800;
  font-size: 16px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  width: fit-content;
  transition: 0.3s ease-in-out;
}
@keyframes fade-in-glow {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.fade-in-element {
  animation: fade-in 1s;
}
.hidden {
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1, 0.8);
  }
  to {
    opacity: 1;
  }
}

#lastv {
  height: fit-content;
  position: relative;
  border: 0px solid rgb(184, 17, 17);
  width: 100%;
  text-align: center;
  padding-top: 100px;
}
#lastvt {
  margin: 50px;
  position: relative;
  letter-spacing: -0.045em;
  font-family: "OCRAq";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #ffffff;
  text-shadow: 1px 1px 7px rgb(0, 0, 0);
  border: 0px solid white;
}
.web-in {
  border: 0px solid rgb(5, 184, 14);
  color: #ffffff;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
  padding: 30px;
}
#ert {
  padding: 77px;
  width: 100%;
  border: 0px solid yellow;
}
.fcov-name {
  font-family: "OCRA";
  font-size: 28px;
  padding-bottom: 20px;
}
.fcov-reg {
  font-family: "OCRAq";
  font-size: 9px;
  padding-bottom: 30px;
}
.ppic {
  margin: 30px;
}
#revb a {
  border-radius: 6px;
  color: #ffffff;
  background-color: #ffffff00;
  border: 0px solid white;
  padding: 8px 16px;
  transition: 0.3s;
  animation: glos 5s infinite ease;
  font-family: "OCRAq";
  font-weight: 500;
  font-size: 13px;
}
#revb a:hover {
  color: #000000;
  background-color: #ffffff;
}

@keyframes glos {
  0% {
    border: 1px solid #ffffff;
  }
  50% {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  100% {
    border: 1px solid #ffffff;
  }
}

.gif {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
  max-width: 100%;
  max-height: 100%;
  transition: 1s;
  opacity: 0.8;
}

@media only screen and (max-width: 480px) {
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: unset;
    margin-top: unset;
    width: auto;

    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: 60px;
    margin-right: 60px;
  }
  .vline {
    height: 27%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    margin-bottom: 12%;
    visibility: visible;
  }
}

@media only screen and (max-height: 480px) {
  .gif {
    opacity: 0;
  }
}

.jstext {
  transition: 0.3s ease-in-out;
}

#demo {
  opacity: 0;
  transition: 0.5s ease-in;
}

#demo1 {
  opacity: 0;
  transition: 0.5s ease-in;
}

#demo2 {
  opacity: 0;

  transition: 0.5s ease-in;
}

#demo3 {
  opacity: 0;

  transition: 0.5s ease-in;
}

#demo4 {
  opacity: 0;

  transition: 0.5s ease-in;
}

.rel-con {
  border: 0px solid white;
  height: 400px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rel-card-con {
  border: 0px solid rgb(255, 255, 255);
  height: 360px;
  width: 300px;

  min-height: 300px;
  border-radius: 14px;
  transition: 0.3s ease-in-out;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  transition: 0.3s ease-in-out;
  background-image: linear-gradient(
      170deg,
      rgba(0, 0, 0, 0.486) 0%,
      rgba(0, 0, 0, 0.726) 30%,
      rgb(0, 0, 0, 1) 100%
    ),
    url("../images/background_1.jpg");

  border: 0px solid rgba(255, 255, 255, 0);
  background-position: center;
  background-size: cover;
  color: rgba(255, 255, 255, 0.897);
  backdrop-filter: blur(0px);
  z-index: 0;
}
.blu {
  position: absolute;
  border: 0px solid white;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(0px);
  background-color: #0000006c;
  top: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.rel-card-con:hover .blu {
  opacity: 1;
}
.rel-card-con:hover {
  border: 0px solid rgb(255, 255, 255);
}
#card1 {
}
#card2 {
}

.red-card-top {
  border: 0px solid rgba(255, 255, 255, 0.507);
  width: 100%;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "OCRAq";
  gap: 24px;
  transition: 0.3s ease-in-out;
  z-index: 2;
}
.card-tex {
  border: 0px solid rgba(255, 255, 255, 0.507);
  width: 100%;
  font-size: 9px;

  font-weight: 100;
  left: 50%;

  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s ease-in-out;
  user-select: none;
  z-index: 2;
}
.he {
  margin-top: 30px;
  font-weight: 900;
  font-size: 20px;
  left: 50%;
  margin-top: 53%;

  min-width: 240px;
  max-width: 240px;

  white-space: pre-wrap;
}
.lo {
  transition: 0.3s ease-in-out;
  border: 0px solid white;
  left: 0%;
  text-align: left;
  opacity: 0;
  width: 100%;
  white-space: pre-wrap;
}
.emps {
}
.rel-card-con:hover .card-tex {
  left: 0%;
  transition: 0.3s;
}
.rel-card-con:hover .lo {
  opacity: 1;
}
.rel-card-con:hover .he {
  left: 0;

  margin-top: -10%;

  margin-bottom: 10%;
}
.rel-card-con:hover .red-card-but {
  opacity: 1;

  visibility: visible;
}
.rel-card-con:hover .bgim {
  opacity: 1;
}
.red-card-but {
  border: 1px solid rgba(255, 255, 255, 0.507);
  padding: 7px 15px 7px 15px;
  border-radius: 7px;

  position: relative;
  top: 100px;
  float: right;
  left: 14px;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;

  background-position: center;
  z-index: 2;
}
.bgim {
  background-image: linear-gradient(
    40deg,
    rgba(0, 0, 0, 0.486) 0%,
    rgba(0, 0, 0, 0.8) 30%,
    rgb(0, 0, 0, 1) 100%
  );
  position: absolute;
  opacity: 1;
}
.red-card-but:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);

  background-color: #f2f2f2;
  color: #000000;
}

.card-im {
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 18%;
  background-position: center;
  background-size: contain;
  opacity: 0;
  visibility: hidden;
}

#card1:hover + #cim {
  opacity: 1;
}

.scrolling-wrapper {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  vertical-align: top;
  max-width: 720px;
  padding: 7%;
  border: 0px solid white;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: row;
  gap: 30px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-margin: 50px 0 0 50px;
  /* cursor: all-scroll; */
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none; /*Safari and Chrome */
}

.err {
  color: white;
  text-align: center;
  font-family: "OCRAq";
  transition: 0.3s ease-in-out;
  z-index: 2;
  font-size: 35px;
  border: 0px solid white;
  width: 100%;
  height: fit-content;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pag {
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.b {
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  text-decoration: none;
  top: 130px;
  visibility: visible;
  transition: 0.8s ease-in-out;
}

.an {
  font-size: 16px;
  padding-left: 10px;
  animation: arr 1.4s infinite ease-out;
}
.anl {
  font-size: 16px;
  padding-right: 10px;
  animation: arl 1.4s infinite ease-out;
}

@keyframes arr {
  0% {
    padding-left: 10px;
  }
  50% {
    padding-left: 17px;
  }
  100% {
    padding-left: 10px;
  }
}
@keyframes arl {
  0% {
    padding-right: 10px;
  }
  50% {
    padding-right: 17px;
  }
  100% {
    padding-right: 10px;
  }
}

.errorh {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

.more-sec {
  border: 0px solid white;
  width: 100%;
  margin-top: 50px;

  height: 48px;
  position: relative;
}

.more-but {
  border: 0px solid white;
  padding: 3px 6px;
  float: right;
  margin-right: 30px;
  top: 50%;
  text-align: center;
  font-family: "OCRAq";
  transition: 0.3s ease-in-out;
  font-size: 22px;
  background-color: #00000000;
  border-radius: 7px;
  background-image: url("../images/gthan.png");
  background-size: contain;
  height: 30px;
  width: 30px;
  opacity: 0.7;
}
.more-but:hover {
  background-color: #000000b0;
  color: #000000;
  opacity: 1;
}

.more-but:hover + .more-but2 {
  visibility: visible;
  opacity: 1;
}

.more-but2 {
  border: 0px solid white;
  padding: 3px 6px;
  float: right;
  text-align: center;
  font-family: "OCRAq";
  font-size: 18px;
  background-color: #000000b0;
  color: #ffffff;
  border-radius: 7px;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
}
.proj-link {
  border: 0px solid white;
  height: fit-content;

  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.proj {
  border: 0px solid yellow;
  height: fit-content;
  width: 160px;
  border-radius: 7px;

  backdrop-filter: blur(0px);
  transition: 0.3s ease-in-out;
}

.proj-img-con {
  width: 80px;
  height: 80px;

  cursor: pointer;
}
.proj-title {
  margin-top: 20px;
  color: #ffffff;

  cursor: pointer;
}
.proj:hover .proj-desc {
  opacity: 1;
}

.proj:hover {
  backdrop-filter: blur(3px);
}

.proj-desc {
  margin-top: 10px;
  font-size: 10px;
  color: #ffffff;
  font-weight: 100;
  padding: 6px 0px 6px 0px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 7px;
  color: #ffffff;
  opacity: 0;
  transition: 0.2s ease-in-out;
}
#proj-more {
  margin-top: 0px;
}
#more-mus {
  margin-top: 40px;
}
