<!DOCTYPE html>

<html class="errorh">
  <head>
    <title>Jesvi Jonathan - Error</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="Website" />
    <meta name="description" content="Error 404 | Page Not Found !" />
    <meta name="author" content="Jesvi Jonathan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Name" content="Jesvi Jonathan" />

    <link rel="icon" href="../static/images/favicon.png" />
    <link rel="stylesheet" href="../static/style/style_prop.css" />
  </head>
  <body></body>
  <section id="sec1">
    <div class="err">
      <text>Error 404</text><br />
      <text class="pag">Page Not Found</text>
      <br /><br /><br /><br /><br /><br /><br />

      <a href="./" class="pag b"
        ><text class="pag b anl">→ </text>Main Page
        <text class="pag b an">←</text></a
      >
    </div>
  </section>
</html>
