<input id="input" /> <button id="btn" value="asad">Search</button><br />
<div id="output"></div>

<script>
  var btn = document.getElementById("btn");
  btn.addEventListener(
    "click",
    function getbooks() {
      document.getElementById("output").innerHTML = "";
      fetch(
        "http://openlibrary.org/search.json?q=" +
          document.getElementById("input").value
      )
        .then((a) => a.json())
        .then((response) => {
          for (var i = 0; i < 10; i++) {
            console.log(response.docs[i].title);
          }
        });
    },
    false
  );
</script>
