<!DOCTYPE html>

<html>
  <head>
    <title>Jesvi Jonathan</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="Website" />
    <meta name="description" content="Jesvi's Official Webpage" />
    <meta name="author" content="Jesvi Jonathan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Name" content="Jesvi Jonathan" />

    <link rel="icon" href="../static/images/favicon.png" />
    <link rel="stylesheet" href="../static/style/style_prop.css" />
    <link rel="stylesheet" href="../static/style/footer.css" />
    <link rel="stylesheet" href="../static/style/header.css" />
    <link rel="stylesheet" href="../static/style/loader.css" />
    <link rel="stylesheet" href="../static/style/scrollbar.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/style/all.css" />
  </head>

  <load class="load">
    <!--div class="load-fade">
      <div id="loader" class="center"></div>
    </div>

    <div id="loader-text" class="center">Loading..</div-->
    <div id="load-fill"></div>
    <img class="bg" />
  </load>

  <div class="loading">
    <div class="mini-loading"></div>
  </div>

  <script
    type="text/javascript"
    src="../static/script/load_animation.js"
  ></script>

  <header>
    <div class="header-container">
      <img id="logo_id" class="logo" src="../static/images/favicon.png" />
      <div class="blur1"></div>
      <nav class="navbar">
        <a href="#" class="nav-logo">Jesvi Jonathan</a>

        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Latest</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Social</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </header>
  <script type="text/javascript" src="../static/script/ham.js"></script>

  <body>
    <section>
      <div id="cover-name">Jesvi Jonathan</div>
      <div class="start">
        <a href="#sec2">Stalk</a>
      </div>
    </section>
    <section id="sec2">helloo</section>
  </body>

  <footer class="section3"></footer>
</html>
