<!DOCTYPE html>

<html>
  <head>
    <title>Jesvi Jonathan</title>
    <meta charset="UTF-8" />
    <meta name="keywords" content="Website" />
    <meta name="description" content="Jesvi's Official Webpage" />
    <meta name="author" content="Jesvi Jonathan" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Name" content="Jesvi Jonathan" />

    <link rel="icon" href="../static/images/favicon.png" />
    <link rel="stylesheet" href="../static/style/style_prop.css" />
    <link rel="stylesheet" href="../static/style/footer.css" />
    <link rel="stylesheet" href="../static/style/header.css" />
    <link rel="stylesheet" href="../static/style/loader.css" />
    <link rel="stylesheet" href="../static/style/scrollbar.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/style/all.css" />
  </head>

  <load class="load">
    <!--div class="load-fade">
      <div id="loader" class="center"></div>
    </div>

    <div id="loader-text" class="center">Loading..</div-->
    <div id="load-fill"></div>
    <img class="bg" />
  </load>

  <div class="loading">
    <div class="mini-loading"></div>
  </div>

  <script
    type="text/javascript"
    src="../static/script/load_animation.js"
  ></script>

  <header>
    <div class="header-container">
      <a href="/home">
        <img id="logo_id" class="logo" src="../static/images/favicon.png" />
      </a>
      <div class="blur1"></div>
      <nav class="navbar">
        <a href="#" class="nav-logo">Jesvi Jonathan</a>

        <ul class="nav-menu">
          <li class="nav-item">
            <a href="#" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Latest</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Social</a>
          </li>
        </ul>
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
    </div>
  </header>
  <script type="text/javascript" src="../static/script/ham.js"></script>

  <body>
    <section id="sec1">
      <div id="cover-name">Jesvi Jonathan</div>
      <div class="start">
        <a href="#sec2">Stalk</a>
      </div>
    </section>
    <section id="sec2">
      <div class="title_sec">
        <text class="titl">Music</text>
      </div>
      <div class="content-text">
        I love to make music and I spend my time composing music. I blend
        between Tamil, Pop and Gospel genre with a lots of inspiration from
        Alternative Rock and EDM My sound is always evolving and changing but I
        will keep making the best music I can ! You can find my music in
        Youtube, Soundcloud and Spotify ! I rarely do collabs but if you are
        worthy enough and wanna collab, ping me.. My Talents are used to please
        the ONE who provided me with & I am grateful for that. I have to say a
        big thank you to all who support me !
        <br />
        Keep Supporting :)
      </div>
      <div class="music-vid">
        <div class="vid-con">
          <iframe src="https://www.youtube.com/embed/vQ7BeHjDqxg?controls=0">
          </iframe>
          <iframe src="https://www.youtube.com/embed/a0a_WbPbo3U?controls=0">
          </iframe>
          <!--iframe src="https://www.youtube.com/embed/CQ7NWE9c_aY?controls=0">
          </iframe>
          <iframe src="https://www.youtube.com/embed/CQ7NWE9c_aY?controls=0">
          </iframe-->
        </div>
      </div>
      <div class="title_min">
        <text class="titl-min">Listen More On<br /><br /></text>
        <div class="mus">
          <div class="music-but">
            <a
              class="music-con"
              href="https://soundcloud.com/jesvi-jonathan-513045540"
              target="_blank"
            >
              <img
                src="../static/images/icons8-spotify 1.png"
                clas="music-img"
              />
              <div class="music-tex">Spotify</div>
            </a>
          </div>
          <div class="music-but">
            <a
              class="music-con"
              href="https://www.youtube.com/channel/UCle1DoWYu4gfKW3YQKezwsw"
              target="_blank"
            >
              <img
                src="../static/images/icons8-youtube 1.png"
                clas="music-img"
              />
              <div class="music-tex">Youtube</div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="sec3">
      <div class="title_sec">
        <text class="titl">Video</text>
      </div>
      <div class="content-text">
        I love to make music and I spend my time composing music. I blend
        between Tamil, Pop and Gospel genre with a lots of inspiration from
        Alternative Rock and EDM My sound is always evolving and changing but I
        will keep making the best music I can ! You can find my music in
        Youtube, Soundcloud and Spotify ! I rarely do collabs but if you are
        worthy enough and wanna collab, ping me.. My Talents are used to please
        the ONE who provided me with & I am grateful for that. I have to say a
        big thank you to all who support me !
        <br />
        Keep Supporting :)
      </div>
      <div class="music-vid">
        <div class="vid-con">
          <iframe src="https://www.youtube.com/embed/GJSpDZl8QPc?controls=0">
          </iframe>
          <iframe src="https://www.youtube.com/embed/YzH8dwkxTvs?controls=0">
          </iframe>
          <iframe src="https://www.youtube.com/embed/CQ7NWE9c_aY?controls=0">
          </iframe>
          <!--iframe src="https://www.youtube.com/embed/CQ7NWE9c_aY?controls=0">
          </iframe-->
        </div>
      </div>
      <div class="title_min">
        <text class="titl-min">Channel<br /><br /></text>
        <div class="mus">
          <div class="music-but">
            <a
              class="music-con"
              href="https://soundcloud.com/jesvi-jonathan-513045540"
              target="_blank"
            >
              <img
                src="../static/images/icons8-spotify 1.png"
                clas="music-img"
              />
              <div class="music-tex">Spotify</div>
            </a>
          </div>
          <div class="music-but">
            <a
              class="music-con"
              href="https://www.youtube.com/channel/UCle1DoWYu4gfKW3YQKezwsw"
              target="_blank"
            >
              <img
                src="../static/images/icons8-youtube 1.png"
                clas="music-img"
              />
              <div class="music-tex">Youtube</div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>

  <footer class="section3"></footer>
</html>
